---
layout: default
title: Gift recipients
permalink: /recipients/
---

{% include hero.html %}

<div class="container">
	<div class="row">
		<div class="col col-12">
			{% if site.posts.size > 0 %}
				<h4 class="lates-title">Gift recipients</h4>
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	{% if site.posts.size > 0 %}
		{% assign a = site.posts | slice: 6, 1 %} 
		{% assign b = site.posts | slice: 7, 1 %} 
		{% assign c = site.posts | slice: 8, 1 %} 
		{% assign posts = a | concat: b | concat: c %}
		{% for post in posts %}
			{% include article-content.html %}
		{% endfor %}
	{% endif %}
	</div>
</div>
{% include pagination.html %}
